.topnav {
  margin-left: 25%;
  margin-right: 25%;
  line-height: 1.6;
  font-family: 'Times New Roman', Times, serif;
}

.topnav-right {
    float: right; 
}

.topnav-right a{
    text-decoration: none;
    padding-left: 10px;
    color: black;
}

a:hover{
  color: grey;
}

a:active{
  color: grey;
}

h5{
  margin-bottom: 0px;
}

.italics{
  font-style: italic;
}